* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

body {
  background-color: #e4dfd8;
  text-align: center;
}
/****** Couleurs *******/
.grey {
  color: #999;
}

.white {
  color: white;
}
/****** Couleurs *******/

.main-img {
  margin: 0 auto;
  position: relative;
}
.bg-accueil {
  width: 100%;
}

.discovery {
  position: absolute;
  right: 2%;
  bottom: 5%;
  background: rgba(255, 255, 255, 0.405);
  padding: 5px 10px;

  border: rgb(29, 136, 65, 0) 1px solid;
  transition: border 500ms ease-in-out;
}
.discovery a {
  text-decoration: none;
  color: white;
}
.discovery:hover {
  border-color: white;
}

.bistrot {
  width: 167px;
  height: 159px;
  position: absolute;
  bottom: 10%;
  right: 4%;
  transform: rotate(-10deg);
}

.sapin {
  position: absolute;
  right: 50%;
  bottom: 0%;
  width: 147px;
  height: 50px;
  transform: translateX(50%);
}

.chevron {
  position: absolute;
  right: 50%;
  bottom: 0%;
  width: 28px;
  transform: translateX(50%);
}

.square {
  display: flex;
  flex-wrap: wrap;
  width: 690px;
  margin-top: 130px;
  transform: translateX(50px);
}

@media (max-width: 1440px) {
  .square {
    display: flex;
    flex-wrap: wrap;
    width: 685px;
    margin-top: 130px;
  }
}

.square img {
  margin-left: 10px;
  margin-bottom: 5px;
  width: 325px;
  height: 325px;
}

@media (max-width: 1440px) {
  .square img {
    margin-left: 10px;
    margin-bottom: 5px;
    width: 272px;
    height: 272px;
  }
}

.discover {
  display: flex;
}

.text-col {
  flex-direction: column;
  width: 500px;
  margin-left: 20%;
  margin-right: 3%;
  margin-top: 15%;
}

@media (max-width: 1440px) {
  .text-col {
    flex-direction: column;
    width: 500px;
    margin-left: 10%;
    margin-right: 3%;
    margin-top: 10%;
  }
}

.orange {
  font-size: 70px;
  color: #fe7207;
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

.lora {
  font-family: "Lora", serif;
  font-size: 50px;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.black {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.light {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.btn-orange {
  border: #fe7207 solid 2px;
  background-color: #e4dfd8;
  color: #fe7207;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
}

.btn-orange:hover {
  background-color: #fe7207;
  color: white;

  transition: all ease-out 0.3s;
}

.btn-orange a {
  border: rgb(141, 46, 46, 0);
}

.text-col button {
  margin-top: 50px;
}

button {
  border: none;
  background: transparent;
}

.team {
  margin-top: 100px;
  display: flex;
}

.team img {
  width: 645px;
  height: 386px;
  margin-left: 10%;
  margin-right: 15px;
}

/******** Banner **********/
.middle-banner {
  position: relative;
  width: 100%;
  margin-bottom: 60px;
}
.banner {
  margin-top: 150px;
  width: 100%;
  height: 800px;
  display: block;
}
.white-col {
  color: white;
  font-size: 50px;
  width: 1000px;
}
.btn-orange-reverse {
  border: #fe7207 solid 2px;
  background-color: transparent;
  color: #fe7207;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
}

.btn-orange-reverse:hover {
  background-color: #fe7207;
  color: white;
  font-weight: bold;
  transition: all ease-out 0.3s;
}

.btn-orange-reverse a {
  border: rgb(141, 46, 46, 0);
}
.see-more {
  margin-top: 50px;
}
.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1440px) {
  .team img {
    width: 540x;
    height: 324px;
    margin-left: 7%;
    margin-right: 15px;
  }
}

.text-team {
  display: flex;
  margin-top: 75px;
  flex-direction: column;
  width: 500px;
  margin-left: 10%;
}

@media (max-width: 1440px) {
  .text-team {
    margin-left: 2%;
  }
}

.text-team button {
  margin-top: 50px;
}

.banner {
  height: 440px;
}

/************ Les cards ************/

.container {
  display: flex;
  width: 1400px;
  /* margin-left: 1000px; */
  justify-content: space-evenly;
  margin-left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 1440px) {
  .container {
    width: 1200px;
  }
}

.img-border {
  overflow: hidden;
  width: 420px;
  height: 600px;
}

.img-border img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 2s;
}

.img-border:hover img {
  transform: scale(1.2);
}

.img-caption {
  width: 420px;
}

.tiret-orange {
  color: #fe7207;
}

.read {
  background: #fe7207;
  padding: 5px 10px;
  border: #fe7207 2px solid;
  margin-top: 15px;
  padding: 10px 0px;
}
.read a {
  text-decoration: none;
  color: white;
  padding: 25px;
}
.read:hover {
  border-color: #fe7207;
  background: #fe720700;
  transition: all ease-in-out 0.3s;
}

.card {
  width: 420px;
}

@media (max-width: 1440px) {
  .img-border img {
    width: 360px;
    height: 495px;
  }
  .img-border {
    width: 360px;
    height: 495px;
  }
  .card {
    height: 665px;
    width: 360px;
  }
}

.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  color: grey;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
}

.work-sans-heavy {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 22px;
  font-style: normal;
}

/**** FOOTER *****/

.footer-top {
  background-color: #3e5556;
  margin-top: 60px;
  height: 248px;
  display: flex;
}

.bistrot-footer {
  width: 140px;
  height: 129px;
  margin-top: 40px;
  margin-left: 250px;
}

.text-footer {
  margin-top: 35px;
  text-align: left;
  width: 300px;
  margin-left: 100px;
}
.text-footer p {
  margin-bottom: 25px;
}
.right-footer {
  margin-top: 35px;
  margin-left: 250px;
}
.img-footer {
  margin-top: 30px;
  align-items: start;

  width: 30px;
}

.instagram {
  margin-left: 15px;
}
.group-img-footer {
  display: flex;
}

/*** Footer bottom ***/

.footer-bottom {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carousel-container {
  margin-top: 10px;
  position: relative;
  overflow: hidden;
  padding-bottom: 10px;
  border-bottom: black 1px solid;
}

.carousel {
  display: flex;
  max-width: 900px;
  height: 100px;
  gap: 20px;
}

.carousel.sliding-transition {
  transition: transform 0.5s ease-in-out;
}

.carousel img {
  filter: invert(75%);
  width: 240px;
}

.infos {
  font-family: "Lora", serif;
  font-size: 22px;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  margin: 25px 0px;
}
